.App {
  text-align: center;
  background-color: #282c34;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Montserant', sans-serif;
  margin: 0;
  background-color: #2e2b2b;
  color: #fff;
}

.bg-body-tertiary {
  background-color: #2e2b2b !important;
}

.nav-link{
  color: white !important;
}

.nav-link:hover{
  color: #ac212167 !important;
}

#intro {
  padding: 50px;
}

#intro h5 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #a5a5a5;
}

#intro h1 {
  font-size: 48px;
  margin: 0;
  color: #fff;
  position: relative;
}

#intro h1::after {
  content: '';
  display: block;
  width: 50px;
  height: 2px;
  background-color: #b22222;
}

#intro p {
  font-size: 18px;
  color: #c9c9c9;
  margin: 20px 0;
}

#intro button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 20px;
  background-color: #ac212167;
  border-color: #AC2121;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

#intro button:hover {
  background-color: #ff4040;
}

/* Seção About Me */
#aboutme {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 50px 20px;
  gap: 50px;
}

#aboutme h2 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #fff;
}

#aboutme img {
  width: 300px;
  height: 300px;
  margin-bottom: 20px;
  border: 3px solid #b22222;
  position: initial;
  flex-shrink: 0;
}

#aboutme p {
  max-width: 600px;
  font-size: 16px;
  line-height: 1.6;
  color: #c9c9c9;
}

/* Seção Skills */
.skills-container {
  text-align: center;
  padding: 40px;
  background-color: #2c2c2c;
  border-radius: 10px;
  color: #fff;
}

.skills-container h2 {
  font-size: 28px;
  margin-bottom: 10px;
  color: #fff;
}

.skills-container h5 {
  font-size: 16px;
  margin-bottom: 20px;
  color: #b3b3b3;
}

.skills-container .skills-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skills-container button {
  background-color: #4b0101;
  border: 2px solid #b22222;
  border-radius: 20px;
  padding: 10px 15px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.2s ease;
}

.skills-container button:hover {
  background-color: #b22222;
  transform: scale(1.05);
}

.skills-container button:focus {
  outline: none;
  box-shadow: 0 0 10px #b22222;
}
